* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #7e8b97;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #343a40
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: #b0c2d4;
}


[v-cloak] { display: none; }
